.login__container,
.register__container {
  width: 50%;
  position: fixed;
  top: 25%;
  left: 25%;
  border: 2px solid var(--black-color);
  border-radius: 8px;
  background-color: rgb(14, 234, 131);
}

.login__title,
.register__title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.8rem;
}

.login__form,
.register__form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form__group {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.form__label {
  margin-right: 12px;
}

.form__input {
  padding: 10px;
}

.form-submit__btn {
  padding: 10px 0;
  width: 20%;
  margin: 28px auto;
  background-color: var(--green-color);
  color: var(--white-color);
  border: 2px solid greenyellow;
  font-size: 1.1rem;
  cursor: pointer;
}

.form-submit__btn:hover {
  background-color: rgb(137, 218, 32);
}

.auth__link {
  text-align: center;
  margin-top: 1rem;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .login__container,
  .register__container {
    top: 6px;
  }

  .login__title,
  .register__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .form-submit__btn {
    width: 26%;
  }
}

@media (max-width: 739px) {
  .login__container,
  .register__container {
    width: 90%;
    top: 5%;
    left: 5%;
  }

  .form-submit__btn {
    width: 32%;
    margin: 16px auto;
  }

  .login__title,
  .register__title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 1.3rem;
  }
}
