@import "../../assets/styles/globalStyle.css";

.page__container {
  padding: 0 1rem;
  background-color: var(--aqua-light-color);
}

.logout__wrapper {
  height: 46px;
  position: relative;
  margin-bottom: 10px;
}

.logout__btn {
  background-color: var(--primary-light-color);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 14px;
  font-size: 1rem;
  border-radius: 3px;
  color: var(--white-color);
  border: 1px solid #3b3b3b;
  cursor: pointer;
}

.logout__btn:hover {
  background-color: cadetblue;
}

.user__bg {
  background-color: var(--aqua-color);
  margin: 0 auto;
  width: 30%;
  padding: 1rem;
  border-radius: 4px;
}

.upload {
  width: 100%;
}

.upload__label {
  width: 30%;
  padding: 0.5rem 0;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-align: center;
}

.upload__label:hover {
  background-color: var(--primary-light-color);
}

@media (min-width: 740px) and (max-width: 1023px) {
  .user__bg {
    width: 40%;
  }

  .upload__label:active {
    background-color: var(--primary-light-color);
  }
}

@media (max-width: 739px) {
  .user__bg {
    width: 70%;
  }

  .upload__label {
    width: 40%;
  }
}
